alx_travel_app/.env
alx_travel_app/db.sqlite3
.env*
*/venv
*/dump.rdb
venv
dump.rdb
*/__pycache__
alx_travel_app/__pycache__
alx_travel_app/__pycache__/*
alx_travel_app/__pycache__/*.pyc
listings/__pycache__/
